{% load i18n %}
{% load staticfiles %}
{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js"> <!--<![endif]-->
<head>
    <title>如食说</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="created" content="{% now "jS M Y h:i" %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="robots" content="NOARCHIVE,NOCACHE"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    {% block favicon %}
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}"/>
    {% endblock %}

    {# Block where global CSS will go. #}
    {% block styles %}
    {% endblock %}

    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}{% endblock %}

    {% block extrahead %}{% endblock %}

    {% block tracking %}
        {# Default to using Google analytics #}
        {% include "partials/google_analytics.html" %}
    {% endblock %}
</head>

<body id="{% block body_id %}default{% endblock %}" class="parallax">
<span class="scroll-up scrollTop-btn"><i class="fa fa-chevron-up"></i></span>

{# Main content goes in this 'layout' block #}
{% block layout %}{% endblock %}

{# Scripts loaded from a CDN. #}
{% block cdn_scripts %}
    <!-- jQuery -->
{% endblock %}

{# Local scripts #}
{% block scripts %}
{% endblock %}

{# Additional JS scripts #}
{% block extrascripts %}{% endblock %}

{# Block for body onload functions #}
<script type="text/javascript">
            $(function() {
                {% block onbodyload %}{% endblock %}
            });
        </script>
{# Page meta-data - this is populated by the 'metadata' template context processor #}
<!-- {% trans "Version:" %} {{ version }} -->
{% if "dashboard" not in request.get_full_path and "basket" not in request.get_full_path %}
    <div class="side-cart group animated">
        <div class="toggle">
            <i class="fa fa-shopping-cart"></i>
        </div>

        <div class="row text-left">
            <ul class="basket-mini-item list-unstyled">
                {% if request.basket.num_lines %}
                    {% for line in request.basket.all_lines %}
                        <li>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="image_container">
                                        {% with image=line.product.primary_image %}
                                            {% thumbnail image.original "100x100" upscale=False as thumb %}
                                                <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail"
                                                                                                   src="{{ thumb.url }}"
                                                                                                   alt="{{ line.product.get_title }}"></a>
                                            {% endthumbnail %}
                                        {% endwith %}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <p><strong><a
                                            href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></strong>
                                    </p>
                                </div>

                                <div class="col-sm-3 price_color align-right">
                                    ¥{{ line.unit_price_excl_tax}}</div>
                                <div class="col-sm-3">{{ line.quantity }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    <li class="form-group form-actions">
                        <p class="align-right">
                            {% if request.basket.is_tax_known %}
                                <small>总计:
                                    ¥{{ request.basket.total_incl_tax }}</small>
                            {% else %}
                                <small>总计:
                                    ¥{{ request.basket.total_excl_tax }}</small>
                            {% endif %}
                        </p>
                        <a href="{% url 'basket:summary' %}" class="btn btn-info btn-sm">去购物车</a>
                        <a href="{% url 'checkout:index' %}" class="btn btn-primary btn-sm pull-right"><i
                                class="icon-shopping-cart"></i>现在结账</a>
                    </li>
                {% else %}
                    <li><p>您还没有添加任何商品到购物车哟~</p></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
</body>
</html>
