{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="row shipping-payment">
        {% block shipping_address %}
            <div class="col-sm-6">
                <div class="sub-header">
                    <h3 class="page-header">送餐信息</h3>
                </div>
                {% if shipping_address %}
                    <div>
                        {% block shipping_address_actions %}
                            <a href="{% url 'checkout:shipping-address' %}" class="pull-right">
                                {% trans "Change" %}
                            </a>
                        {% endblock %}
                        <h4>{% trans "Address" %}</h4>
                        <address>
                            {% for field in shipping_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>

                        {% if shipping_address.phone_number %}
                            <h4>{% trans "Contact" %}</h4>
                            <p>
                                {% trans "Phone" %}: {{ shipping_address.phone_number }}
                                {% if guest_email %}
                                    <br/>{% trans "Email" %}: {{ guest_email }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if shipping_address.notes %}
                            <h4>{% trans "Instructions" %}</h4>
                            <p>{{ shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endblock shipping_address %}

        {# You will almost certainly want to override this block to provide a payment summary #}
        {% block payment_method %}
            <div class="col-sm-6">
                <div class="sub-header">
                    <h3 class="page-header">付款方式</h3>
                </div>
                <div>
                    <a href="{% url 'checkout:payment-details' %}" class="pull-right">
                        {% trans "Change" %}
                    </a>
                    <h4>{% trans "Payment" %}</h4>
                    <p>{% trans "Payment details to go here" %}</p>
                </div>
            </div>
        {% endblock payment_method %}
    </div>

    {% block order_contents %}
        <div class="row">
        <div class="col-sm-12">
            <h3 class="page-header">订单详情</h3>
            <div class="sub-header">
                {% block order_contents_actions %}
                    <a href="{% url 'basket:summary' %}" class="pull-right">
                        {% trans "Edit order contents" %}
                    </a>
                {% endblock %}

            </div>
            <div class="table-responsive margin-top margin-bottom text-center">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>总价</th>
                    </tr>
                    {% for line in basket.all_lines %}
                        {% purchase_info_for_line request line as session %}
                        <tr>
                            <td style="vertical-align:middle">
                                {{ form.id }}
                                <div class="row vcenter">
                                    <div class="col-lg-6">
                                        {% with image=line.product.primary_image %}
                                            {% thumbnail image.original "100x100" upscale=False as thumb %}
                                                <a href="{{ form.instance.product.get_absolute_url }}"><img
                                                        class="thumbnail"
                                                        src="{{ thumb.url }}"
                                                        alt="{{ product.get_title }}"></a>
                                            {% endthumbnail %}
                                        {% endwith %}
                                    </div>
                                    <div class="col-lg-6">
                                        <h4 class="text-center"><a
                                                href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                                        </h4>
                                        <p class="text-center">
                                            {% if session.availability.code == "instock" %}
                                                库存 {{ session.availability.num_available }}
                                            {% else %}
                                                售罄
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="price_color align-right">
                                            {{ line.quantity }}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="price_color align-right">
                                            {% if line.is_tax_known %}
                                                ¥{{ line.unit_price_incl_tax }}
                                            {% else %}
                                                ¥{{ line.unit_price_excl_tax }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-lg-12 vcenter">
                                        <p class="price_color align-right">
                                            {% if line.is_tax_known %}
                                                ¥{{ line.line_price_incl_tax }}
                                            {% else %}
                                                ¥{{ line.line_price_excl_tax }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="sub-header">
                <h3>{% trans 'Totals' %}</h3>
            </div>
            {% include 'basket/partials/basket_totals.html' %}
        </div>

    {% endblock order_contents %}

    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block payment_details %}
    {% endblock payment_details %}

    {% block place_order %}
    {% endblock place_order %}

{% endblock content %}
