{% extends "layout_2_col.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }} | {% trans 'Account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account-profile{% endblock %}



{% block column_left %}
<div class="wrapper">
    <main class="content">
            <div class="container margin-top-3x margin-bottom-2x">
    <div class="text-center">
                    <h2>我的
                        <span>账户</span>
                    </h2>
                    <span class="subtitle">在此处管理您的账户以及订单信息</span>
                </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
                                {% include "partials/alert_messages.html" %}
        </div>
    </div>
    <div class="row row-centered margin-top">
    <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        {% block standard_tabs %}
            <li{% if active_tab == 'profile' %} class="active"{% endif %}>
                <a href="{% url 'customer:profile-view' %}">{% trans "Profile" %}</a>
            </li>
            <li{% if active_tab == 'orders' %} class="active"{% endif %}>
                <a href="{% url 'customer:order-list' %}">{% trans "Order History" %}</a>
            </li>
            <li{% if active_tab == 'addresses' %} class="active"{% endif %}>
                <a href="{% url 'customer:address-list' %}">{% trans "Address Book" %}</a>
            </li>
            <li{% if active_tab == 'emails' %} class="active"{% endif %}>
                <a href="{% url 'customer:email-list' %}">{% trans "Email History" %}</a>
            </li>
        {% endblock %}
    </ul>
    </div>

{% endblock %}

{% block content %}
    <div class="col-md-8">
    {% block headertext %}<h3>{{ page_title }}</h3>{% endblock %}
    <hr style="border-color:#d7d7d7">
    {% block tabcontent %}{% endblock tabcontent %}
    </div>
        </div>
     </div>
        </main>
    </div>
{% endblock content %}

