{% extends "layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}

{% block navigation %}
    {% include "partials/nav_accounts.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div class="wrapper">
<main class="content">
        <div class="container margin-top-3x margin-bottom-2x">
    <div class="row">
        <div class="col-md-4">
            <form id="login_form" action="{{ request.get_full_path }}" method="post">
                <h3 class="page-header">登录</h3>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=login_form %}
                <p><a href="{% url 'password-reset' %}">忘记密码？</a></p>
                <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary" data-loading-text="登录中">登录</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <form id="register_form" action="{{ request.get_full_path }}" method="post">
                <h3 class="page-header">注册</h3>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=registration_form %}
                <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-primary" data-loading-text="注册中">注册</button>
            </form>
        </div>
    </div>
    </div>
    </main>
    </div>
{% endblock content %}
