{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block content %}

    <div class="hero-bg portfolio-hero" style="background-image: url({% static "img/parallax-bg.jpg" %})" data-switcher>
      <div class="color-overlay"></div>

      <div class="aligned-container text-center">
        <div class="container">
          <h2 class="">
              如食说为您带来
              <span>饕餮盛宴</span>
          </h2>

          <p class="margin-bottom">Promote your business effectively
            <br> Flexy - awesome multifunctional landing page. All that you need to promote your business.
          </p>

          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li class="active">Masonry 1</li>
          </ol>

        </div>
      </div>
    </div>
    <main class="content no-shadow text-center">

      <div id="filters" class="filtering">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#" data-filter="*">全部</a>
          </li>
          <li>
            <a href="#" data-filter=".illust">主食</a>
          </li>
          <li>
            <a href="#" data-filter=".photo">小菜</a>
          </li>
          <li>
            <a href="#" data-filter=".graphic">饮料</a>
          </li>
          <li>
            <a href="#" data-filter=".identy">水果</a>
          </li>
          <li>
            <a href="#" data-filter=".video">糕点</a>
          </li>
        </ul>
      </div>

      <!-- Portfolio Grid -->
      <section class="margin-top margin-bottom">
        <div class="container">
          <div class="masonry-grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <!-- Item -->
            <div class="item w2 illust photo">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/1.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item illust">
              <div class="grid-tile">
                <div class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/2.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item heigh1 graphic identy">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/3.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item photo">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/4.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item illust graphic">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/5.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item heigh1 photo identy">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/6.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item illust">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/7.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item heigh1 graphic identy">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/8.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item heigh1 video">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/9.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item identy">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/10.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item photo graphic">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/13.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item heigh1 identy">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/11.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item photo graphic">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/12.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item heigh1 graphic video">
              <div class="grid-tile">
                <div href="#" class="post-thumb">
                  <div class="color-overlay"></div>
                  <img src="{% static "img/portfolio/14.jpg" %}" alt="">

                  <span class="tile-title">
                    <h3>Working Process <span>Photography</span></h3>
                    <span class="tile-date">February 12, 2015 / Photo</span>

                    <div class="tile-links">
                      <a href="#"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-expand"></i></a>
                      <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- Blog Grid End -->

    </main>

{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
