{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block content %}

    <div class="hero-bg portfolio-hero" style="background-image: url({% static "img/bg2.jpg" %})" data-switcher>
        <div class="color-overlay"></div>

        <div class="aligned-container text-center">
            <div class="container">
                <h2 class="">
                    如食说为您带来
                    <span>饕餮盛宴</span>
                </h2>

                <p class="margin-bottom">从主食到小菜
                    <br> 如食说精心为您打造心目中最经典的味道
                </p>

            </div>
        </div>
    </div>
    <main class="content no-shadow text-center">

        <div id="filters" class="filtering">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#" data-filter="*">全部</a>
                </li>
                <li>
                    <a href="#" data-filter=".main">主食</a>
                </li>
                <li>
                    <a href="#" data-filter=".side">小菜</a>
                </li>
                <li>
                    <a href="#" data-filter=".drink">饮料</a>
                </li>
                <li>
                    <a href="#" data-filter=".fruit">水果</a>
                </li>
                <li>
                    <a href="#" data-filter=".cake">糕点</a>
                </li>
            </ul>
        </div>
        <!-- Portfolio Grid -->
        <section class="margin-top margin-bottom">
            <div class="container">
                <div class="masonry-grid">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                    {% if products %}
                        {% for product in products %}
                            {% render_product product %}
                        {% endfor %}
                    {% else %}
                        <p class="nonefound">{% trans "No products found." %}</p>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
