{% extends "layout1.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}


{% block header %}
{% endblock header %}

{% block content_wrapper %}
    <div class="wrapper">
        <main class="content">
            <div class="container margin-top-3x margin-bottom-2x">
                <div class="row">
                    <article class="product_page"><!-- Start of product page -->
                        <div class="row">
                            {% block product_main %}
                                <div class="col-md-6">
                                <div>
                                <h2><span>{{ product.get_title }}</span></h2>
                                <hr style="border-color:#d7d7d7">
                                {% include 'partials/alert_messages.html' %}
                                {% block product_stock_record %}
                                    {% include "catalogue/partials/stock_record.html" with verbose=1 %}
                                {% endblock %}
                                {% block product_basket_form %}
                                    {% include "catalogue/partials/add_to_basket_form.html" %}
                                {% endblock %}
                            {% endblock %}
                            <hr style="border-color:#d7d7d7">
                            </div>
                            <span class="subtitle">产品详情</span>
                            {% block product_description %}
                                {% if product.description %}
                                    <div id="product_description" class="sub-header">
                                    </div>
                                    <p>{{ product.description|safe }}</p>
                                {% endif %}
                            {% endblock %}
                            <hr style="border-color:#d7d7d7">

                            <ul class="list-unstyled">
                                <li>本产品不含添加剂</li>
                                <li>送货员长得帅</li>
                                <li>价格也便宜</li>
                            </ul>

                            <hr style="border-color:#d7d7d7">

                            </div>
                            {% block product_gallery %}
                                <div class="col-md-6">
                                    {% include "catalogue/partials/gallery.html" %}
                                </div>
                            {% endblock %}

                        </div>

                        {% with recommended_products=product.recommended_products.all|slice:":6" %}
                            {% if recommended_products %}
                                <div class="sub-header">
                                    <h2>{% trans "Recommended items" %}</h2>
                                </div>
                                <ul class="row">
                                    {% for product in recommended_products %}
                                        <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                            {% render_product product %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}

                    </article><!-- End of product page -->
                </div>
            </div>
        </main>
    </div>
{% endblock content_wrapper %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
