{% load i18n %}
{% load staticfiles %}
<footer class="footer" id="footer">
    {% block footer %}
        <div class="footer-subscribe" style="background-image:url({% static "img/footer.jpg" %});
                text-align: center;" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="subscribe-text" style="color: green"></div>
          </div>
      </div>

      <div class="footer-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4 text-center">
              <h5>关于如食说</h5>

              <p>如食说 - 徐州地区最专业的食品外卖企业之一，致力于为徐州市民提供优质、健康、放心的传统美食。我们在食材、配料、菜品搭配、以及烹饪过程中
              对质量进行严格把控，力求将最完美的食品呈现在顾客门前。</p>
            </div>

            <div class="col-sm-6 col-md-4 text-center">
              <h5>关注我们</h5>

              <a href="#" class="footer-social"><i class="fa fa-wechat"></i>微信：rushishuo521</a>
              <a href="#" class="footer-social"><i class="fa fa-weibo"></i>微博：如食说</a>

            </div>

            <div class="col-sm-6 col-md-4 text-center">
              <h5>联系我们</h5>

              <address>
                <div>
                  <a href="tel:1-800-123-4567">86-159-9696-2006</a>
                  <br>
                  <a href="tel:1-800-123-4567">86-150-5200-6690</a>
                </div>

                <a href="mailto:rushishuo@163.com"><i class="fa fa-envelope">&nbsp;</i>rushishuo@163.com</a>
              </address>
            </div>

          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <span><a href="http://www.rssfive.com/">如食说</a>&nbsp; — 版权所有,侵权必究</span>
      </div>
    {% endblock %}
</footer>