{% load form_tags %}
{% load widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}
    {% annotate_form_field field %}

    {% block control_group %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">

            {% block label %}
                {% if not nolabel and field.widget_type != 'CheckboxInput' %}
                    <label for="{{ field.auto_id }}" class="{% if style|default:"stacked" != 'stacked' %}col-sm-4{% endif%} control-label{% if field.field.required %} required{% endif %}">
                        {% if field.label == "Email address" %}
                            邮箱
                        {% elif field.label == "Password" %}
                            密码
                    {% elif field.label == "Confirm password" %}
                            确认密码
                    {% else %}
                            {{ field.label }}
                            {% endif %}
                    </label>
                {% endif %}
            {% endblock %}

            {% block controls %}
                <div class="{% if style|default:"stacked" != 'stacked' %}col-sm-7{% endif %}">
                    {% block widget %}
                        {% if field.widget_type == 'CheckboxInput' %}
                            <label for="{{ field.auto_id }}" class="checkbox {% if field.field.required %}required{% endif %}">
                                {{ field.label|safe }}
                                {% render_field field class+="form-control" %}
                            </label>
                        {% else %}
                            {% render_field field class+="form-control" %}
                        {% endif %}
                    {% endblock %}

                    {% block errors %}
                        {% for error in field.errors %}
                            <span class="error-block"><i class="icon-exclamation-sign"></i>
                                {% if error == "This field is required." %}
                                请您填写此项
                                    {% elif error == "The two password fields didn't match." %}
                                    您两次输入的密码不符,请重新尝试
                                    {% elif error == "A user with that email address already exists" %}
                                    您输入的邮箱已被注册
                                    {% elif error == "Enter a valid email address." %}
                                    您输入的邮箱不正确
                                    {% else %}
                                    {{ error }}
                                {% endif %}
                            </span>
                        {% endfor %}
                    {% endblock %}

                    {% block help_text %}
                        {% if field.help_text %}
                            <span class='help-block'>
                                {# We allow HTML within form help fields #}
                                {{ field.help_text|safe }}
                            </span>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}
