{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}


{% block product %}

    <div class="item {{ product.get_product_class.name }}">
        <div class="grid-tile">
            <div href="#" class="post-thumb">
                <div class="color-overlay"></div>
                {% block product_image %}
                    {% with image=product.primary_image %}
                        {% thumbnail image.original "440x400" upscale=False as thumb %}
                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                        {% endthumbnail %}
                    {% endwith %}
                    </div>
                {% endblock %}

            {% block product_title %}
                <span class="tile-title">
                      <h3>
                          {{ product.get_title|truncatewords:4 }}</h3>
                    {% block product_price %}
                        <span class="tile-date">
                {% include "catalogue/partials/stock_record.html" %}
                </span>
                    {% endblock %}
                    <div class="tile-links">
                        {% if not product.is_parent %}

                            {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                        {% endif %}
                        <a href="{{ product.get_absolute_url }}"><i class="fa fa-expand"></i></a>
                    </div>
                  </span>
            {% endblock %}
        </div>
    </div>
{% endblock %}
