{% load i18n %}
{% load currency_filters %}

<div id="basket_totals">
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th colspan="2"><h4>购物车</h4></th>
            </tr>
            {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
                {% block discount_totals %}
                    {% if offer_discounts or voucher_discounts %}
                        {# Basket total will be discounted so we show a before and after version #}
                        <tr>
                            <td>购物车总价(未计算折扣)</td>
                            <td class="align-right">
                                {% if basket.is_tax_known and not show_tax_separately %}
                                    ¥{{ basket.total_incl_tax_excl_discounts }}
                                {% else %}
                                    ¥{{ basket.total_excl_tax_excl_discounts }}
                                {% endif %}
                            </td>
                        </tr>

                        {% for discount in offer_discounts %}
                            <tr>
                                <td class="basket-discount"><span class="label label-success">折扣</span> {{ discount.name }}
                                    {% if discount.description %}
                                        <br/><small>{{ discount.description }}</small>
                                    {% endif %}
                                </td>
                                <td class="align-right">-¥{{ discount.discount }}</td>
                            </tr>
                        {% endfor %}

                        {% if voucher_discounts %}
                            <tr>
                                <th colspan="2"><h4>优惠券</h4></th>
                            </tr>
                            {% for discount in voucher_discounts %}
                                <tr>
                                    <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                        {{ discount.voucher.name }} ({{ discount.voucher.code }})
                                        </div>
                                        <div class="col-sm-6">
                                        {% if editable %}
                                            <form action="{% url 'basket:vouchers-remove' pk=discount.voucher.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="submit" value="删除" class="btn btn-sm btn-danger" style="display:inline-block"/>
                                            </form>
                                        {% endif %}
                                        </div>
                                    </div>
                                    </td>
                                    <td class="align-right">-¥{{ discount.discount }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endblock %}

                {% block basket_total %}
                    {% if offer_discounts or voucher_discounts %}
                        <tr>
                            <th class="total">购物车总价(折扣后)</th>
                            <th class="total align-right">
                                {% if not show_tax_separately and basket.is_tax_known %}
                                    ¥{{ basket.total_incl_tax }}
                                {% else %}
                                    ¥{{ basket.total_excl_tax }}
                                {% endif %}
                            </th>
                        </tr>
                    {% else %}
                        {# No discounts to basket #}
                        <tr>
                            <th class="total">购物车总计</th>
                            <th class="total align-right">
                                {% if not show_tax_separately and basket.is_tax_known %}
                                    ¥{{ basket.total_incl_tax }}
                                {% else %}
                                    ¥{{ basket.total_excl_tax }}
                                {% endif %}
                            </th>
                        </tr>
                    {% endif %}
                {% endblock %}
            {% endwith %}


            {% block post_order_action_totals %}
                {% if basket.post_order_actions %}
                    <tr>
                        <th>&nbsp;</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th><h3>结账后折扣</h3><small>这些会在结账后生效</small></th>
                        <td></td>
                    </tr>
                    {% for discount in basket.post_order_actions %}
                        <tr>
                            <td class="total" colspan="2">
                                <span class="label label-success">{{ discount.name }}</span><br/>
                                <p>{{ discount.description }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endblock %}

            {% block order_total %}
                <tr>
                    <th class="total"><h4>消费总额</h4></th>
                    <td class="total align-right">
                        <h4 class="price_color">
                            {% if order_total.is_tax_known %}
                                ¥{{ order_total.incl_tax }}
                            {% else %}
                                ¥{{ order_total.excl_tax }}
                            {% endif %}
                        </h4>
                    </td>
                </tr>
            {% endblock %}
        </tbody>
    </table>
</div>
