{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}
{% load staticfiles %}

<div class="wrapper">
    <main class="content">
        <section class="pricing white-pricing" id="pricing2">
            <div class="container margin-top-3x margin-bottom-2x text-center">
                <div>
                    <h2>我的
                        <span>购物车</span>
                    </h2>
                    <span class="subtitle">当您更新数量后,请点击刷新来更新总价格</span>
                </div>
            <div class="row">
        <div class="col-lg-4 col-lg-offset-4">{% include 'partials/alert_messages.html' %}</div></div>
                {% if basket_warnings %}
                    <h5>请注意,您篮子中的产品有需要您了解的信息</h5>
                    {% for warning in basket_warnings %}
                        <div class="alert">{{ warning }}</div>
                    {% endfor %}
                {% endif %}

                {% if upsell_messages %}
                    <div class="well">
                        <h3>您差点错过了一个折扣!</h3>
                        {% for upsell in upsell_messages %}
                            {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                                <div class="warning">{{ message }} to qualify for the <a
                                        href="{{ url }}">{{ offer_name }}</a> special
                                    offer
                                </div>
                            {% endblocktrans %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if not basket.is_empty %}
                    {% block basket_form_main %}
                        <form action="." method="post" id="basket_formset">
                            <div class="table-responsive margin-top margin-bottom">
                                <table class="table table-bordered">
                                    {% block basket_form_headers %}
                                        <tr>
                                            <th></th>
                                            <th>数量</th>
                                            <th>单价</th>
                                            <th>总价</th>
                                        </tr>
                                    {% endblock %}


                                    {% csrf_token %}
                                    {{ formset.management_form }}

                                    {% for form in formset %}
                                        {% with line=form.instance product=form.instance.product %}
                                            {% purchase_info_for_line request line as session %}
                                            <tr>
                                                <td style="vertical-align:middle">
                                                    {{ form.id }}
                                                    <div class="row vcenter">
                                                        <div class="col-lg-6">
                                                            {% with image=product.primary_image %}
                                                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                                                    <a href="{{ product.get_absolute_url }}">
                                                                        <img src="{{ thumb.url }}"
                                                                             alt="{{ product.get_title }}"/>
                                                                    </a>
                                                                {% endthumbnail %}
                                                            {% endwith %}
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <h4 class="text-center"><a
                                                                    href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                                                            </h4>
                                                            <p class="text-center">
                                                                {% if session.availability.code == "instock" %}
                                                                    库存 {{ session.availability.num_available }}
                                                                {% else %}
                                                                    售罄
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle">
                                                    <div class="row vcenter">
                                                        <div class="col-lg-3">
                                                            <div class="checkout-quantity">
                                                                <div class="input-group  {% if form.errors %}error{% endif %}">
                                                                    {% render_field form.quantity class+="form-control" %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <button class="btn btn-sm btn-primary-outline"
                                                                    style="font-size: 12px"
                                                                    type="submit">刷新
                                                            </button>
                                                        </div>
                                                        <div class="col-lg-3">

                                                            <a href="#" data-id="{{ forloop.counter0 }}"
                                                               data-behaviours="remove"
                                                               class="inline">
                                                                <button class="btn btn-sm btn-danger-outline"
                                                                        style="font-size: 12px"
                                                                        type="submit">删除
                                                                </button>
                                                            </a>
                                                            <div style="display:none">
                                                                {{ form.DELETE }}
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            {% for field_errors in form.errors.values %}
                                                                {% for error in field_errors %}
                                                                    {% if "a maximum of" in error %}
                                                                        <p class="text-danger">
                                                                            您最多可买{{ session.availability.num_available }}件此商品</p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <p class="price_color align-right">
                                                                {% if line.is_tax_known %}
                                                                    ¥{{ line.unit_price_incl_tax }}
                                                                {% else %}
                                                                    ¥{{ line.unit_price_excl_tax }}
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-lg-12 vcenter">
                                                            <p class="price_color align-right">
                                                                {% if line.is_tax_known %}
                                                                    ¥{{ line.line_price_incl_tax }}
                                                                {% else %}
                                                                    ¥{{ line.line_price_excl_tax }}
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                </table>
                            </div>
                        </form>
                    {% endblock %}

                    <div class="row">
                        {% block vouchers %}
                            {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
                            {% if voucher_form %}
                                <div class="col-sm-6">
                                    <div class="sub-header">
                                        <h3>优惠券</h3>
                                    </div>
                                    <p id="voucher_form_link"><a href="#voucher"
                                                                 class="btn btn-primary-outline btn-full">我有优惠码</a>
                                    </p>
                                    <div id="voucher_form_container" style="display:none">
                                        <form id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">
                                            {% csrf_token %}
                                            {% include "partials/form_fields.html" with form=voucher_form %}
                                            <button type="submit" class="btn btn-primary-outline"
                                                    data-loading-text="正在添加...">使用优惠券
                                            </button>
                                            或者 <a href="#"
                                                  id="voucher_form_cancel">取消</a>
                                        </form>
                                    </div>
                                    <h3 class="page-header">如何获得优惠券</h3>

                                    <div class="panel-group accordion" id="accordion" role="tablist"
                                         aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapseOne" aria-expanded="true"
                                                       aria-controls="collapseOne">
                                                        微信关注如食说公众号
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                                 aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <img src="{% static "img/qrcode.jpg" %}" alt="QR Code"
                                                         style="width:200px;height:219px;">

                                                    <ul style="list-style-type:none">
                                                        <li>1. 使用微信扫描以上二维码并添加如食说为您的好友。</li>
                                                        <li>2. 发送: 首次优惠</li>
                                                        <li>3. 主页君核实后会将优惠码通过微信发送给你</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapseTwo" aria-expanded="false"
                                                       aria-controls="collapseTwo">
                                                        回收如食说包装袋
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                                 aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <p>如食说在生产到销售的整个过程始终贯彻绿色环保的理念。我们希望我们的顾客可以和我们
                                                        一起贯彻这个理念。</p>

                                                    <p>在您每一次从如食说订购食物时,您可以将如食说赠送给您的包装纸袋折叠保存,并在下一
                                                        次订购时,将纸袋交还给快递小哥(妹),即可获得如食说为您提供的<strong style="color: #26B04C">1元环保优惠券
                                                        </strong></p>

                                                    <p>如食说希望您能时刻将环保放在心里,因此环保优惠券可以重复获得。如果您每次都将包装袋
                                                        保存并交换,那您可以在每次购物时都享受1元优惠</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapseThree" aria-expanded="false"
                                                       aria-controls="collapseThree">
                                                        团购优惠
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                                 aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <p>团购优惠根据您团购数量而定</p>

                                                    <ul style="list-style-type:none">
                                                        <li>· 您订单中任意单项<strong>主食</strong>超过10份 -- 优惠13元</li>
                                                        <li>· 您订单中任意单项<strong>主食</strong>超过20份 -- 优惠25元</li>
                                                        <li>· 您订单中任意单项<strong>主食</strong>超过30份 -- 优惠38元</li>
                                                        <li>如果单项主食份数更高,请电话或微信与客服联系,以获得更大优惠额度</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endblock vouchers %}

                        {% block baskettotals %}
                            <div class="col-sm-6">
                                <div class="sub-header">
                                    <h3>总计</h3>
                                </div>
                                {% include 'basket/partials/basket_totals.html' with editable=1 %}
                                {% block formactions %}
                                    <div class="form-group clearfix margin-top">
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <a href="{% url 'checkout:index' %}"
                                                   class="btn btn-lg btn-primary btn-block">现在去结账</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endblock formactions %}
                            </div>
                        {% endblock baskettotals %}
                    </div>


                {% else %}
                    {% block emptybasket %}
                        <p>
                            您的购物车里没有商品,
                            <a href="/catalogue">现在去购物!</a>
                        </p>
                    {% endblock %}
                {% endif %}
            </div>
        </section>
    </main>
</div>