{% extends "layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}

{% block navigation %}
    {% include "partials/nav_primary.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="hero-bg">
      <div class="color-overlay"></div>
      <ul class="web">
        <!--<li style="background-image: url({% static "img/bg1.jpg" %})"></li>
        <li style="background-image: url({% static "img/bg2.jpg" %})"></li>-->
        <li style="background-image: url({% static "img/bg3.jpg" %})"></li>
      </ul>
      <div class="hero-fader">
        <div class="aligned-container">
          <div class="container">
              <div class="typing-block">
            红烧牛腩饭: <span class="typed"></span>
          </div>
            <!--<h1>Flexy – perfect for startups </h1>

            <p class="margin-bottom margin-top">Promote your business effectively
              <br> Flexy - awesome multifunctional landing page. All that you need to promote your business.
            </p>-->

            <a href="/catalogue/hong_shao_niu_nan_fan_4" class="btn btn-primary-outline" style="margin-top: 100px">现在购买</a>

          </div>
        </div>
      </div>
    </div>

    <main class="content main-animation">

      <!-- ***** ICONS ***** -->
      <section class="icons-block margin-top-2x" id="features">

        <div class="container">
          <div class="text-center">
            <h2 class="block-header">如食说向您
              <span>承诺</span>
            </h2>
            <span class="subtitle">我们在菜品上精益求精,在材料上精挑细选,在烹饪上如工匠般雕琢,为您呈现最好的菜肴</span>
          </div>

          <div class="row text-center">
            <div class="col-md-3 col-xs-6">
              <i class="icon-cutlery fa-4x"></i>
              <h4>
                <strong>好吃</strong>
              </h4>
              <p class="text-center">特别特别特别特别特别的好吃.相信我.我是吃货.
              </p>
            </div>

            <div class="col-md-3 col-xs-6">
              <i class="icon-smile fa-4x"></i>
              <h4>
                <strong>好看</strong>
              </h4>
              <p class="text-center">特别特别特别特别特别的好吃.相信我.我是吃货..
              </p>
            </div>

            <div class="col-md-3 col-xs-6">
              <i class="icon-pencils fa-4x"></i>
              <h4>
                <strong>好用</strong>
              </h4>
              <p class="text-center">特别特别特别特别特别的好吃.相信我.我是吃货.
              </p>
            </div>

            <div class="col-md-3 col-xs-6">
              <i class="icon-target fa-4x"></i>
              <h4>
                <strong>好玩</strong>
              </h4>
              <p class="text-center">特别特别特别特别特别的好吃.相信我.我是吃货.
              </p>
            </div>
          </div>
        </div>
      </section>
<div class="full-width-blockquote" style="background-image: url({% static "img/people.jpg" %})">
        <div class="color-overlay"></div>

        <div class="container">
          <blockquote>
            <p>我们的饭特别好吃。真的。</p>
            <footer>如食说CEO
              <cite title="Source Title">王小蝉</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    <section id="digit-animation" class="digitizer text-center" style="background-image: url({% static "img/factsbg.jpg" %})" data-stellar-background-ratio="0.5">

        <div class="color-overlay"></div>

        <div class="container">
          <div class="margin-top-2x">
            <h2>我们的
              <span>大数据</span>
            </h2>
            <span class="subtitle">关于我们的大数据</span>
          </div>

          <div class="row animated-digits margin-top margin-bottom-2x">

            <div class="col-md-4 col-sm-4 text-center">
              <ul class="list-inline">
                <li>
                  <i class="icon-imac fa-4x"></i>
                </li>
                <li>
                  <div class="digit" data-number="426">0</div>
                </li>
              </ul>

              <h4>
                用户量
              </h4>
              <p>在过去一周的注册量</p>
            </div>

            <div class="col-md-4 col-sm-4 text-center">
              <ul class="list-inline">
                <li>
                  <i class="icon-smile fa-4x"></i>
                </li>
                <li>
                  <div class="digit" data-number="12700">0</div>
                </li>
              </ul>

              <h4>
                总订单
              </h4>
              <p>自成立以来的总订单量</p>
            </div>

            <div class="col-md-4 col-sm-4 text-center">
              <ul class="list-inline">
                <li>
                  <i class="icon-magic fa-4x"></i>
                </li>
                <li>
                  <div class="digit" data-number="25000">0</div>
                </li>
              </ul>

              <h4>
                点击量
              </h4>
              <p>自上线以来的总点击量</p>
            </div>

          </div>
        </div>
      </section>
    <section class="image-text text-center margin-top-2x margin-bottom-2x">
        <div class="container">
          <div>
            <h2>这些媒体
              <span>报道过</span>我们
            </h2>

            <span class="subtitle">这些媒体曾专门报道过我们</span>
          </div>

          <div class="row margin-top">
            <div class="col-md-4 col-xs-6">
              <a href="#"><img src="{% static "img/pengchengshichuang.jpg" %}" alt="">
              </a>

              <p>据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台</p>
            </div>

            <div class="col-md-4 col-xs-6">
              <a href="#"><img src="{% static "img/pengcheng.jpg" %}" alt="">
              </a>

              <p>据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台</p>
            </div>

            <div class="col-md-4 col-xs-6">
              <a href="#"><img src="{% static "img/dushi.jpg" %}" alt="">
              </a>

              <p>据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台</p>
            </div>

          </div>
        </div>
      </section>
    </main>
{% endblock content %}
