{% extends "layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}

{% block navigation %}
    {% include "partials/nav_primary.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="hero-bg">
      <div class="color-overlay"></div>
      <ul class="web">
        <!--<li style="background-image: url({% static "img/bg1.jpg" %})"></li>
        <li style="background-image: url({% static "img/bg2.jpg" %})"></li>-->
        <li style="background-image: url({% static "img/bg3.jpg" %})"></li>
      </ul>
      <div class="hero-fader">
        <div class="aligned-container">
          <div class="container">
              <div class="typing-block">
            红烧牛腩饭: <span class="typed"></span>
          </div>
            <!--<h1>Flexy – perfect for startups </h1>

            <p class="margin-bottom margin-top">Promote your business effectively
              <br> Flexy - awesome multifunctional landing page. All that you need to promote your business.
            </p>-->

            <a href="/catalogue/hong_shao_niu_nan_fan_4" class="btn btn-primary-outline" style="margin-top: 100px">现在购买</a>

          </div>
        </div>
      </div>
    </div>

    <main class="content main-animation">

      <!-- ***** ICONS ***** -->
      <section class="icons-block margin-top-2x" id="features">

        <div class="container">
          <div class="text-center">
            <h2 class="block-header">如食说向您
              <span>承诺</span>
            </h2>
            <span class="subtitle">我们在菜品上精益求精,在材料上精挑细选,在烹饪上如工匠般雕琢,为您呈现最好的菜肴</span>
          </div>

          <div class="row text-center">
            <div class="col-md-3 col-xs-6">
              <i class="icon-cutlery fa-4x"></i>
              <h4>
                <strong>好吃</strong>
              </h4>
              <p class="text-center">特别特别特别特别特别的好吃.相信我.我是吃货.
              </p>
            </div>

            <div class="col-md-3 col-xs-6">
              <i class="icon-smile fa-4x"></i>
              <h4>
                <strong>好看</strong>
              </h4>
              <p class="text-center">特别特别特别特别特别的好吃.相信我.我是吃货..
              </p>
            </div>

            <div class="col-md-3 col-xs-6">
              <i class="icon-pencils fa-4x"></i>
              <h4>
                <strong>好用</strong>
              </h4>
              <p class="text-center">特别特别特别特别特别的好吃.相信我.我是吃货.
              </p>
            </div>

            <div class="col-md-3 col-xs-6">
              <i class="icon-target fa-4x"></i>
              <h4>
                <strong>好玩</strong>
              </h4>
              <p class="text-center">特别特别特别特别特别的好吃.相信我.我是吃货.
              </p>
            </div>
          </div>
        </div>
      </section>

    </main>
{% endblock content %}
