{% extends "layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}

{% block navigation %}
    {% include "partials/nav_primary.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="hero-bg">
      <div class="color-overlay"></div>
      <ul class="web">
        <!--<li style="background-image: url({% static "img/bg1.jpg" %})"></li>
        <li style="background-image: url({% static "img/bg2.jpg" %})"></li>-->
        <li style="background-image: url({% static "img/bg3.jpg" %})"></li>
      </ul>
      <div class="hero-fader">
        <div class="aligned-container">
          <div class="container">
              <div class="typing-block">
            红烧牛腩饭: <span class="typed"></span>
          </div>
            <!--<h1>Flexy – perfect for startups </h1>

            <p class="margin-bottom margin-top">Promote your business effectively
              <br> Flexy - awesome multifunctional landing page. All that you need to promote your business.
            </p>-->

            <a href="/catalogue/hong_shao_niu_nan_fan_4" class="btn btn-primary-outline" style="margin-top: 100px">现在购买</a>

          </div>
        </div>
      </div>
    </div>

    <main class="content main-animation">

      <!-- ***** ICONS ***** -->
      <section class="icons-block margin-top-2x" id="features">

        <div class="container">
          <div class="text-center">
            <h2 class="block-header">如食说向您
              <span>承诺</span>
            </h2>
            <span class="subtitle">我们在菜品上精益求精，在材料上精挑细选，在烹饪上如工匠般雕琢，为您呈现最好的菜肴。</span>
          </div>

          <div class="row text-center">
            <div class="col-md-3 col-xs-6">
              <i class="icon-cutlery fa-4x"></i>
              <h4>
                <strong>每日新鲜食材</strong>
              </h4>
              <p class="text-center">每天早晨采购最新鲜食材，从肉类鱼虾到蔬菜水果都经过如食说采购员的精挑细选。我们与当地最大的肉类加工企业
                  合作，以保证为您呈现最优质的食材。我们向您承诺，鱼虾等生鲜品在加工前都是活的，肉类均采用市场上最优的肉质，蔬菜水果均经过严格
                  处理保证无任何化学残留。
              </p>
            </div>

            <div class="col-md-3 col-xs-6">
              <i class="icon-smile fa-4x"></i>
              <h4>
                <strong>最大限度满足顾客需求</strong>
              </h4>
              <p class="text-center">在食材及其他客观条件允许的情况下，我们将最大程度上满足顾客对菜品以及递送方面的需求。因为我们每份菜品
                  都是单独进行烹制，因此您可以完全自定义您的套餐，包括葱姜蒜的用量、辣度、口味、以及配送时间和地点。
              </p>
            </div>

            <div class="col-md-3 col-xs-6">
              <i class="icon-pencils fa-4x"></i>
              <h4>
                <strong>不含任何添加剂</strong>
              </h4>
              <p class="text-center">如食说对配料的要求精益求精。所有烹饪用油均为中华人民共和国国家粮食局批准的一级食用油，绝无重复使用。
                  无任何添加剂及染色剂，不添加味精、鸡精等增味剂。所有的味道均来自食材和如食说精选的配料本身。我们欢迎顾客的监督。
              </p>
            </div>

            <div class="col-md-3 col-xs-6">
              <i class="icon-target fa-4x"></i>
              <h4>
                <strong>坚持传统手艺</strong>
              </h4>
              <p class="text-center">如食说3位主厨均有丰富的烹饪经验，张师傅持有中华人民共和国职业资格一级高级烹饪技师证，且有20余年的餐馆
                  经营经验。他对食材、配料、火候以及味道的追求近乎苛刻。坚持徐州家常菜最传统的烹饪手法也是几位厨师的一致追求。我们致力于为您带来
                  最熟悉的味道。
              </p>
            </div>
          </div>
        </div>
      </section>
<div class="full-width-blockquote" style="background-image: url({% static "img/people.jpg" %})">
        <div class="color-overlay"></div>

        <div class="container">
          <blockquote>
            <p>我们对待食品的态度和我们对待生活的态度一样。给人吃的东西，我们精益求精。这个社会上良知的火不能灭。</p>
            <footer>如食说CEO
              <cite title="Source Title">王小蝉</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    <section id="digit-animation" class="digitizer text-center" style="background-image: url({% static "img/factsbg.jpg" %})" data-stellar-background-ratio="0.5">

        <div class="color-overlay"></div>

        <div class="container">
          <div class="margin-top-2x">
            <h2>如食说
              <span>大数据</span>
            </h2>
            <span class="subtitle">用数据证明食物</span>
          </div>

          <div class="row animated-digits margin-top margin-bottom-2x">

            <div class="col-md-4 col-sm-4 text-center">
              <ul class="list-inline">
                <li>
                  <i class="icon-imac fa-4x"></i>
                </li>
                <li>
                  <div class="digit" data-number="643">0</div>
                </li>
              </ul>

              <h4>
                用户量
              </h4>
              <p>首日会员注册量(含微信)</p>
            </div>

            <div class="col-md-4 col-sm-4 text-center">
              <ul class="list-inline">
                <li>
                  <i class="icon-smile fa-4x"></i>
                </li>
                <li>
                  <div class="digit" data-number="177">0</div>
                </li>
              </ul>

              <h4>
                订单量
              </h4>
              <p>首日订单量(含微信和电话订单)</p>
            </div>

            <div class="col-md-4 col-sm-4 text-center">
              <ul class="list-inline">
                <li>
                  <i class="icon-magic fa-4x"></i>
                </li>
                <li>
                  <div class="digit" data-number="2765">0</div>
                </li>
              </ul>

              <h4>
                点击量
              </h4>
              <p>首日视频及网站点击量</p>
            </div>

          </div>
        </div>
      </section>
        <!--
    <section class="image-text text-center margin-top-2x margin-bottom-2x">
        <div class="container">
          <div>
            <h2>这些媒体
              <span>报道过</span>我们
            </h2>

            <span class="subtitle">这些媒体曾专门报道过我们</span>
          </div>

          <div class="row margin-top">
            <div class="col-md-4 col-xs-6">
              <a href="#"><img src="{% static "img/pengchengshichuang.jpg" %}" alt="">
              </a>

              <p>据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台</p>
            </div>

            <div class="col-md-4 col-xs-6">
              <a href="#"><img src="{% static "img/pengcheng.jpg" %}" alt="">
              </a>

              <p>据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台</p>
            </div>

            <div class="col-md-4 col-xs-6">
              <a href="#"><img src="{% static "img/dushi.jpg" %}" alt="">
              </a>

              <p>据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台.据我们了解,如食说非常好吃.是徐州最大的外卖递送平台</p>
            </div>

          </div>
        </div>
      </section>
      -->
    </main>
{% endblock content %}
